*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

.print_container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: #00000047;
    z-index: 200;
}

.print{
    background: #FFFFFF;
    border-radius: 0px;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 100%;
    animation: slidefromright .3s ease-in-out;
    border-radius: 2px;
    grid-template-rows: 755px 1fr;
    overflow: hidden;
}

.print_2{
    width: 95%;
    height: 95%;
    
    background: #FFFFFF;
    border-radius: 0px;
    display: grid;
    grid-gap: 2rem;
    grid-template-rows: 100%;
    animation: slidefromright .3s ease-in-out;
    border-radius: 2px;
    grid-template-columns: 1fr;
    overflow: hidden; 
}

.print_top{
    display: grid;
    grid-auto-flow: column;
    /* width: max-content; */
    justify-content: space-between;
    /* grid-template-rows: 3rem; */
    grid-template-columns: 1fr 4rem;
    grid-template-columns: max-content max-content;
    align-items: center;
    align-items: center;
}

.meal_details{
    display: grid;
}

.meal_details > .col_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 5px;
}

.meal_detail{
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
}

.meal_detail:not(:last-child) { 
    border-right: 1px solid #444;
}

.meal_detail > h2{
    font-family: "Montserrat SemiBold";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #222321;
    text-align: start;
}

.meal_detail > p{
    font-family: "Montserrat Medium";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #222321;
    text-align: start;
    padding-left: 6px;
}

.print_top > h2 {
    font-family: "Montserrat Medium";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    color: #222321;
}

.print_top > h3 {
    font-family: "Montserrat Medium";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #2B2B2B;
}

.print_main_logo_img{
    width: 90%;
    height: 755px;
    image-rendering: -webkit-optimize-contrast;
}

.print_col_img_2{
    display: block;
}

.print_col_img_22{
    display: none;
}

.print_body{
    display: grid;
    grid-gap: 2rem;

    border-top: 1px solid #444;
    padding-top: 1rem;
}

.print_details{
    display: grid;
    grid-gap: 1rem;
}

.print_detail{
    display: grid;
    grid-gap: 1rem;
}

.print_detail > h2{
    border-bottom: 1px solid #444;
    font-family: "Montserrat SemiBold";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: start;
    color: #2B2B2B;
}

.print_detail > ul{
    list-style-type: none;
    text-align: start;
    display: grid;
    grid-gap: 1rem;
    grid-auto-flow: column;
    justify-content: start;
}

.print_detail > ul > li{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    align-content: start;
    border-bottom: 1px solid #DADCDC;
    padding-bottom: 1rem;
}

.print_detail > ul > li > p{
    font-family: "Montserrat Medium";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
}

.print_detail > ul > li > h4{
    font-family: "Montserrat SemiBold";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.print_col_1{
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    grid-gap: 1rem;
}

.print_col_2{
    margin: 1rem;
    overflow-y: scroll;
}

.print_col_1 > p{
    font-family: "Montserrat Medium";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: white;
    line-height: 20px;
}

.print_col_1 > h3{
    font-family: "Montserrat SemiBold";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: white;
    line-height: 20px;
}

.print_cancel_con {
    height: 3rem;
    /* padding: 0 1.5rem; */
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-content: center;
    align-items: center;
    /* margin-top: 23px; */
    color: white;
    width: 100%;
}

.print_cancel {
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(245, 246, 244);
    border-radius: 50%;
    color: rgb(34, 35, 33);
}

.print_button{
    justify-self: start;
    width: 0284px;
    height: 46px;
    display: grid;
    justify-content: center;
    align-items: center;
    
    background: #064A61;
    border: 1px solid #064A61;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: "Montserrat Medium";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    
    color: #FFFFFF;
    margin: 3rem auto;
    border-radius: 22px;
    margin: 10rem max-content;
}

.print_col_h3{
    display: none;
    font-family: "Montserrat SemiBold";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #064A61;
    line-height: 20px;
}

.meal_instructions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    align-items: start;
}

.meal_instruction{
    display: grid;
    grid-gap: 1rem;
    border: 1px solid #444;
    padding: 1rem;
    border-radius: 4px;
    align-content: start;
}

.meal_instruction > div{
    display: grid;
    grid-gap: 1rem;
}

.meal_instruction > div > div{
    border-bottom: 1px solid #444;
    font-family: "Montserrat Medium";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: start;
    color: #2B2B2B;
    height: 2rem;
}

.title{
    display: grid;
    grid-template-columns: 2rem 1fr;
}

.footer{
    display: grid;
    border-top: 1px solid #444;
    justify-items: end;
}

.footer > h2{
    font-family: "Montserrat SemiBold";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: start;
    color: #2B2B2B;
}

@media screen and (max-width: 700px) {
    .print{
        grid-template-columns: 1fr;
    }

    .print_col_2{
        margin: 0;
        padding: 2rem;
    }

    .print_col_1{
        display: none;
    }

    .print_col_h3{
        display: block;
    }

    .print_main_logo_img{
        display: none;
    }

    .print_col_img_2{
        display: grid;
        justify-content: center;
    }

    .print_col_img_2 > .print_main_logo_img {
        display: block;
    }

    .print_body_col_2{
        grid-template-columns: 1fr;
    }
}